!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

st.borderpx:    3
st.font: 	JetbrainsMono Nerd Font:style=medium:pixelsize=14:antialias=true
st.opacity: 255
st.alpha: 0.85

! special
*.foreground:   #D7D7D7
! *.background:   #5E6173
*.background:   #292C38
*.cursorColor:  #D7D7D7

! black
*.color0:       #292C38
*.color8:       #5E6173

! red
*.color1:       #FB7DA7
*.color9:       #FB7DA7

! green
*.color2:       #76C5A4
*.color10:      #76C5A4

! yellow
*.color3:       #E3CF65
*.color11:      #E3CF65

! blue
*.color4:       #FDAD5D
*.color12:      #FDAD5D

! magenta
*.color5:       #AF98E6
*.color13:      #AF98E6

! cyan
*.color6:       #51C7DA
*.color14:      #51C7DA

! white
*.color7:       #D7D7D7
*.color15:      #D7D7D7
